.btn {
  @extend .btn;
  padding: .25rem 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.btn-primary {
  @extend .btn-primary;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-primary);
}

.btn-outline-primary {
  @extend .btn-outline-primary;
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
}

.btn {
  .active {
    @extend .active;
    color: white;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
}