// Personalizar colores de bootstrap
$blue: #003366;
$yellow: #ffb74d;
$green: #8bc34a;

// Personalizar carousel de bootstrap
$carousel-indicator-height: 30px;

// Personalizar cards de bootstrap
$card-height: 100% !important;
$card-border-width: 0;
$card-title-color: $blue;
$card-color: $blue;
